body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa !important;
   
}

.form-control {
    background-color: #2c2f36; /* hoặc bất kỳ màu nền tối nào bạn đang dùng */
    color: #ffffff !important;            /* màu chữ trắng */
    border: none;              /* tuỳ chọn: bỏ viền nếu cần */
  }
  .css_login {
    color: #ffffff !important;            /* màu chữ trắng */
  }
  
  .form-control::placeholder {
    color: #cccccc;            /* màu chữ placeholder (gợi ý) */
  }
  

